* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 60px;
  color: white;
}

.logo {
  font-size: 32px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  color: white;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}

nav ul li:hover {
  border-bottom: 2px solid;
}

.hamburegr-menu {
  display: none;
  font-size: 35px;
}

/* Hero */

.hero-section {
  background-image: url(myTunes-images/hero_image.png);
  height: 100vh;
  background-size: cover;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  pad: 0 20px;
  background-repeat: no-repeat;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-section h1 {
  font-size: 95px;
}

.hero-section h3 {
  font-size: 32px;
}

.hero-section p {
  max-width: 900px;
}

@media screen and (max-width: 650px) {
  header {
    padding: 5px 10px;
  }

  .logo {
    font-size: 25px;
  }

  nav ul {
    gap: 10px;
  }

  sdsd nav ul {
    display: none;
  }

  .hamburegr-menu {
    display: flex;

    font-size: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 950px) {
  .hero-section .container {
    gap: 25px;
  }

  .hero-section h1 {
    font-size: 55px;
  }

  .hero-section h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .hero-section .container {
    gap: 15px;
  }

  .hero-section h1 {
    font-size: 35px;
  }

  .hero-section h3 {
    font-size: 20px;
  }
}






/* Music */
.music-section {
  padding-top: 50px;
  background: var(--purple500);
}

.music-section .container {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  align-items: center;
  color: white;
  gap: 30px;
  justify-content: center;
}

.primary-btn {
  background-color: #4701e9;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: traansform 0.3s opacity 0.3s;
}

.primary-btn:hover {
  transform: scale(0.96);
  opacity: 0.7;
}

.music-section h4 {
  max-width: 900px;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .ipad-iphone-img img {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .ipad-iphone-img img {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .ipad-iphone-img img {
    width: 200px;
  }
}



/* About */
.about-music {
  padding: 100px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.about-music .containerr p {
  margin: 10px;
  max-width: 900px;
}

.about-music .container .primary-btn {
  margin-bottom: 10px;
}

/* .secondary-btn {
  background-color: #4701e9;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.secondary-btn:hover{
  transform: scale(0.96);
  transition: all 0.3s;
  opacity: 0.7;
} */
.mac-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mac-img img {
  max-width: 700px;
}

@media screen and (max-width:800px) {
  .mac-img img {
    width: 550px;
  }
}

@media screen and (max-width:600px) {
  .mac-img img {
    width: 400px;
  }
}

/* Video */
.video-section {
  background-image: url(myTunes-images/video.png);
  min-height: 700px;
  padding: 0 20px;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}

.video-section p {
  padding-top: 20px;
  max-width: 900px;
}

/* Gift */
.gift-section {
 
  margin: 60px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gift-section h3 {
  text-align: center;
}

.gift-card img {
  width: 400px;
}
/* 
.cubuk{
  width: 95%;
  background-color: gray;
  height: 2px;
  margin: 20px 0;
} */
.gift-content {
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.text-gift{
  max-width: 700px;
}
.btn-lst{
margin: 0 auto;
  width: 40%;
}


@media screen and (max-width:900px) {
  .gift-section{
    display: grid;
    flex-direction: column;
  }
 
}
/* Footer */
footer{
  background-color: var(--purple600);
}
 footer .main-grid{
  display: grid;
grid-template-columns: repeat(4, 1fr);
padding: 20px 0;
gap: 3px;
 margin-bottom: 10px;
}
.main-grid li{
  list-style: none;
  color: white;
  padding: 5px 0;
  cursor: pointer;
}
.main-grid h4{
  padding-bottom: 10px;
  color:rgb(148, 25, 236);
}
.footer-lower{
  color: white;
  text-align: center;
 padding: 20px;
 
}
@media screen and (max-width: 900px) {
  .footer-upper .main-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  .footer-upper h4 {
    width: 25%;
  }
}
}